<div class="row pt-5 justify-content-center" style="direction: rtl">
    <div class="col-8">
      <div class="card card-default">
        <div class="card-header card-title-color">
          <h5 class="text-center text-white fw-bold">راه های ارتباط با ما</h5>
        </div>
        <div class="card-body">
            <ul class="list-unstyled d-flex">
                  <li class="fw-bold fs-5">شبکه های اجتماعی :</li>
                <li class="ms-1"><a target="_blank" href="https://web.whatsapp.com/send?phone=989389788779"><img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" width="30px"/></a></li>
                <li class="ms-1"><a target="_blank" href="https://instagram.com/fateme_razaghi_pv"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" width="30px"/></a></li>
                <li class="ms-1"><a target="_blank" href="https://t.me/fatemeh_raz8779"><img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" width="30px"/></a></li>
                <li class="ms-1"><a target="_blank" href="https://www.linkedin.com/in/fatemeh-razaghi-a43397245"><img src="https://img.icons8.com/fluency/48/000000/linkedin.png"  width="30px"/></a></li>
            </ul>
            <br>
            <div class="fw-bold fs-5">شماره تماس : <a href="tel:09167783770" class="text-decoration-none text-color">09167783770</a></div>
            <br>
            <div class="fw-bold fs-5">ایمیل : <a href="mailto:fatemeh8779@gmail.com" class="text-decoration-none text-color" >fatemeh8779@gmail.com</a></div>
            <br>
        </div>
      </div>
    </div>
  </div>
  <br><br>